<%- include('./includes/head', {title: "Blog - WildwoodTech"}); -%>
  </head>
  <body>
    <%- include('./includes/navbar', {path: "/"}); -%>
    <div class="blogindex-container">
      <h2 class="blogindex-container__header">Wildwood Tech Posts</h2>
      <ul class="blogindex-container__posts">
        <% for (const blog of blogs) { %>
        <li class="blogindex-container__post">
          -&#160;
          <span
            ><%= blog.blogDate.toLocaleDateString("en-US", { year: "numeric",
            month: "2-digit", day: "2-digit", }); %>&#160;-&#160;</span
          >
          <div>
            <a href="/blog/<%= blog.fileName%>">
              <span class="<%= blog.blogTitle === 'New Blog Site!' ? 'new' : '' %>"><%= blog.blogTitle %></span></a
            >
          </div>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
