<%- include('./includes/head', {title: `${blog.title} - WildwoodTech`}); -%>
    <link rel="stylesheet" href="/styles/markdown.css" />
    <link rel="stylesheet" href="/styles/templates/blogpost.css" />
    <script src="/highlight.min.js"></script>
  </head>
  <body>
    <%- include('./includes/navbar', {path: "/blog/post"}); -%>

    <div class="blog-container"><%-blog.body%></div>
    <p class="tags">Tags: <% for( tag of blog.header.tags ) { %>`<%- tag %>` <% }%></p>
    <script>
      hljs.highlightAll();
    </script>
<%- include('./includes/end'); -%>