<%- include('./includes/head', {title: `${series.charAt(0).toUpperCase() + series.slice(1)} - WildwoodTech` }); -%>
  <link rel="stylesheet" href="/styles/templates/series.css" />
  </head>

  <body>
    <%- include('./includes/navbar', {path: "/series" }); -%>
      <div class="series-container">
        <h2 class="series-header"><%= `${series.charAt(0).toUpperCase() + series.slice(1)} Series `%></h2>
        <ul class="series-posts">
          <% for (const link of blogLinks) { %>
            <l1 class="series-posts__post">
              -&#160;
              <span
              ><%= link.date.toLocaleDateString("en-US", { year: "numeric",
              month: "2-digit", day: "2-digit", }); %>&#160;-&#160;</span
            >
              <div>
                <a href="/blog/<%= link.filename%>">
                  <span class="series-name"><%= link.title %></span></a
                >
              </div>
            </l1>
          <% } %>
        </ul>
      </div>
<%- include('./includes/end'); -%>