<%- include('./includes/head', {title: `${series.charAt(0).toUpperCase() + series.slice(1)} - WildwoodTech` }); -%>
  <link rel="stylesheet" href="/styles/templates/series.css" />
  </head>

  <body>
    <%- include('./includes/navbar', {path: "/series" }); -%>
      <div class="series-container">
        <h2 class="series-header"><%= `${series.charAt(0).toUpperCase() + series.slice(1)} Series `%></h2>
        <ul class="series-posts">
          <% for (const link of blogLinks) { %>
            <l1>
              <a class="series-posts__post" href="/blog/<%= link.filename%>">
                <div class="series-post__info">
                    <span class="series-info__title"><%= link.title %></span>
                    <span class="series-info__date"><%= link.date.toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric", }); %></span>
                </div>
              </a>
            </l1>
          <% } %>
        </ul>
      </div>
<%- include('./includes/end'); -%>