<%- include('./includes/head', {title: "Series - WildwoodTech" }); -%>
  <link rel="stylesheet" href="/styles/templates/seriesindex.css" />
  </head>

  <body>
    <%- include('./includes/navbar', {path: "/series" }); -%>
      <div class="seriesindex-container">
        <h2 class="seriesindex-header">Series Posts</h2>
        <ul class="seriesindex-posts">
          <% for (const series of seriesArray) { %>
            <l1>
              <a class="seriesindex-posts__post" href="/series/<%= series%>">
                <div>
                    <span class="seriesindex-name"><%= series %></span>
                </div>
              </a>
            </l1>
          <% } %>
        </ul>
      </div>
<%- include('./includes/end'); -%>