<%- include('./includes/head', {title: "Series - WildwoodTech" }); -%>
  <link rel="stylesheet" href="/styles/templates/seriesindex.css" />
  </head>

  <body>
    <%- include('./includes/navbar', {path: "/series" }); -%>
      <div class="seriesindex-container">
        <h2 class="seriesindex-header">Series Posts</h2>
        <ul class="seriesindex-posts">
          <% for (const series of seriesArray) { %>
            <l1 class="seriesindex-posts__post">
              <div>
                <a href="/series/<%= series%>">
                  <span class="seriesindex-name"><%= series %></span></a
                >
              </div>
            </l1>
          <% } %>
        </ul>
      </div>
<%- include('./includes/end'); -%>